@page "/research"
<style>
    @@media(min-width: 992px) {
    .research-container
        {
            max-width: 800px; /* Match your banner's width */
            margin: 0 auto;
        }
    }
</style>


<div class="text-center research-container">

    <div>
        <img id="research-banner" src="/media/images/research_1.png" alt="Speech Pathology Banner" class="img-fluid">
    </div>

    <section class="mt-2 text-center" id="research-body">

        <h1 style="font-size: 1.2rem; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 0;">Speech Pathology and Lower-Level Literacy</h1>
        <h2 style="font-size: 1rem; text-transform: uppercase; margin: 0;">Appendix B</h2>
        <h3 style="font-size: 1rem; text-transform: uppercase; margin: 0;">Recruitment Email</h3>

        <p style=" margin-top: 1.5em;"><strong>Dear Prospective Research Participant,</strong></p>

        <p style="">
            I’m a doctoral student at the American College of Education. I’m writing to let you know about an opportunity to participate in a dissertation research study. This qualitative exploratory case study investigates the perception of certified speech pathologists in the United States about lower-level literacy skills. You are being asked to participate in a research study that has the potential to assist with answering corresponding research questions. Specifically, conducting this qualitative research study has the potential to contribute to the current body of knowledge on lower-level literacy skills and how speech pathologists may easily assist with closing or minimizing current literacy gaps among students.
        </p>

        <p style="">
            You are invited to participate in this research study because of your experiences as a district or contract speech pathologist. Your work with students in public school settings is an invaluable factor that can contribute much to the perceptions of the topic. Your participation is strictly voluntary. If you wish to withdraw from the research at any time, you may contact me using the information provided in this email. I may publish the results of this study; however, no identifiable data will be linked to you personally or professionally.
        </p>

        <p style="">
            Please click on the link below to view the detailed information and provide consent if you choose to do so. Your time, expertise, and willingness to share both are deeply appreciated. Contact me with any questions or concerns, and I will do my best to answer them.
        </p>

        <p>
            <a href="https://www.surveymonkey.com/r/MKDZMWG" target="_blank" style="color: #0056b3; text-decoration: none; font-weight: bold;">Click here to start!</a>
        </p>

        <div style="margin-top: 40px; font-weight: bold;">
            <p>Thank you,</p>
            <p>Laquetta Annette White</p>
            <p>Doctoral Candidate ACE University</p>
        </div>

        <div>
            <img id="research-footer" src="/media/images/research_2.png" alt="Speech Pathology Footer" class="img-fluid">
        </div>

    </section>
</div>

<script>
    window.observeSections();

</script>